*{
    text-align: center;
}

body {
  display: block;
  position: relative;
  margin: 0 auto;
  z-index: 0;
  height: 100%;
  width: 100%;
}

body::after {
  background: url("./assets/background\ logo\ Monday\ Love__web_header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-size: 100% 100%;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
}

.logo {
  size: 25px;
}

p.nav-quote {
  display: inline;
}

.nav-quote {
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  text-align: center;
  display: inline-block;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.center {
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}
.col-sm-2 {
  display: table;
  justify-content: left;
}

.col-sm-2:hover {
  transform: scale(1.02);
}

.homepic {
  padding-bottom: 20px;
}

.work {
 width: 612px;
 height: 600px;
}
.email {
  color: whitesmoke;
  text-decoration: none;
}

.connect-hr {
  border-top: solid rgb(187,12,0);
  border-width: 2px;
  width: 25%;
}

.display-4 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  color: whitesmoke;
  font-size: 100px;
  text-shadow: 4px 4px 8px #000000;
}

.fan {
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  background: linear-gradient(#000 0%, #bb0c00 100%);
  background-clip: text;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
    font-family: 'Arvo', serif;
    color: #BB0C00;
    font-size: 92px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;  
    margin-bottom: 0;
    padding-bottom: 0;  
}

.navbar {
    background: rgb(187,12,0);
    background: linear-gradient(0deg, rgba(187,12,0,1) 0%, rgba(10,10,10,1) 100%); 
  }

  .logo-home{
    height: 100%;
    width: 100%;
  }

  .send {
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    width: 55px;
  }

  
  .navbar-nav li { 
    float: right;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  form {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    background: rgb(187,12,0);
    background: linear-gradient(0deg, rgba(187,12,0,1) 0%, rgba(10,10,10,1) 100%); 
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-top: 130px;
    margin-bottom: 130px;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  }


  .footer{
    display: relative;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(187,12,0);
    background: linear-gradient(0deg, rgba(187,12,0,1) 0%, rgba(10,10,10,1) 100%); 
  }

  img{
    min-width: 100%;
  }
  .sr-only{
    position: absolute;
    left: -9999999px;
  }
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .connect {
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: whitesmoke;
    font-size: 100px;
    text-shadow: 4px 4px 8px #000000;
    margin-top: 15px;
  }

  .fa-youtube {
    color: #FF0000
  }

  .fa-itunes {
    background: linear-gradient(140deg, rgba(255,93,112,1) 0%, rgba(52,196,248,1) 63%);
    background-clip: text;
	  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-spotify {
    color: #1ED760;
  }

  .fa-google-play{
    color: #FF5722;
  }

  .fa-facebook{
    color: #3B579D
  }

  .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
	  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.fa-youtube, .fa-itunes, .fa-spotify, .fa-google-play, .fa-facebook, .fa-instagram, .fa-stitcher, .fa-tunein {
  font-size: 4em;
  margin: 1rem;
}

  /* //carousel start */
  .carousel {
    position: relative;
    height: 75%;
  }
  .carousel-inner {
    width: 75%;
    height: 75%;
    overflow: hidden;
  }
  .carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
         -o-transition: .6s ease-in-out left;
            transition: .6s ease-in-out left;
  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    line-height: 1;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
      -webkit-transition: -webkit-transform .6s ease-in-out;
           -o-transition:      -o-transform .6s ease-in-out;
              transition:         transform .6s ease-in-out;
  
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-perspective: 1000px;
              perspective: 1000px;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  .carousel-inner > .active,
  .carousel-inner > .next,
  .carousel-inner > .prev {
    display: block;
  }
  .carousel-inner > .active {
    left: 0;
  }
  .carousel-inner > .next,
  .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .carousel-inner > .next {
    left: 100%;
  }
  .carousel-inner > .prev {
    left: -100%;
  }
  .carousel-inner > .next.left,
  .carousel-inner > .prev.right {
    left: 0;
  }
  .carousel-inner > .active.left {
    left: -100%;
  }
  .carousel-inner > .active.right {
    left: 100%;
  }
  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
  }
  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
  }
  .carousel-control:hover,
  .carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
  }
  .carousel-control .icon-prev,
  .carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
  }
  .carousel-control .icon-next,
  .carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
  }
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
  }
  .carousel-control .icon-prev:before {
    content: '\2039';
  }
  .carousel-control .icon-next:before {
    content: '\203a';
  }
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
  }
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
  }
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  }
  .carousel-caption .btn {
    text-shadow: none;
  }
  @media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
      margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
      margin-right: -15px;
    }
    .carousel-caption {
      right: 20%;
      left: 20%;
      padding-bottom: 30px;
    }
    .carousel-indicators {
      bottom: 20px;
    }
  }
  /* //carousel-end */

  /*---Media Queries --*/
@media (max-width: 992px) {
  .social padding {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .display-4 {
    font-size: 200%;
  }
  .social padding{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .connect {
    font-size: 200%;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .display-4 {
    font-size: 160%;
  }
  .social padding{
    font-size: 2em;
    padding: .7rem;
  }
  .connect {
    font-size: 160%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/